.profileTitle,
.skillsTitle {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--separator-color);
  max-width: 50rem;
}

.profileTitle {
  margin: 3rem auto 6rem;
}

.skillsTitle {
  margin: 12rem auto 3rem;
}

.skills {
  margin: 0 auto 10rem;
  max-width: 50rem;
  text-align: center;

  >div {
    margin: 1rem;
  }
}
