.profileTitle {
  margin: 0 auto 6rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--separator-color);
  max-width: 50rem;
}

.skillsTitle {
  margin: 6rem auto 2rem;
  max-width: 50rem;
}

.skills {
  margin: 0 auto 4rem;
  max-width: 50rem;
  text-align: center;

  >dl {
    margin: 1rem;
  }
}
