@import '~/styles/mixins';

.component {
  @include NeumoBox();
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: transparent;
  outline: none;
  color: var(--color);

  &:active {
    @include NeumoBoxInset();
  }
}

.iconWrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
}
