.markdown {
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.5;
  }

  h2 {
    margin: 3.125rem 0 2.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--separator-color);
  }

  h3 {
    margin: 3.125rem 0 -1rem;
  }

  h4 {
    margin: 2.25rem 0 0;
  }

  p {
    margin: 2.25rem 0;
  }

  > ol,
  > ul {
    margin: -1.5rem 0 1rem;
  }

  details {
    display: block;
    padding: 0;
    border: 1px solid var(--box-border-color);
    border-radius: 4px;
    line-height: 1.5;
    box-shadow: var(--shadow);

    + details {
      margin-top: 2rem;
    }

    > summary {
      display: block;
      padding: 0.5em 1em;
      cursor: pointer;
      outline: none;
      position: relative;
      list-style: none;

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }

      &::after {
        display: inline-block;
        content: '';
        position: absolute;
        top: 50%;
        right: 1em;
        border-top: 0.4em solid var(--color);
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
        transform: translateY(-50%);
      }
    }

    &[open] > summary {
      border-bottom: 1px solid var(--box-border-color);

      &::after {
        border-top: none;
        border-bottom: 0.4em solid var(--color);
      }
    }

    > *:not(summary) {
      margin: 0;
      padding: 1em;
    }
  }

  blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px solid gray;

    > p {
      opacity: 0.7;
    }
  }

  code {
    padding: 0.05rem 0.5rem 0.1rem;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 0.85rem;
  }

  @media (prefers-color-scheme: dark) {
    code {
      border: 1px solid var(--separator-color);
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  > pre {
    margin: 2.25rem 0 !important;
    border: 1px solid var(--box-border-color);
    border-radius: 4px;
    overflow: hidden;

    > pre {
      margin: 0 !important;
      box-shadow: var(--shadow-inset);
    }
  }

  pre > code {
    padding: 0;
    background: none;
    border: none;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
  }

  hr {
    margin: 4.5rem 0 2.5rem;
    border: 1px solid var(--separator-color);
  }

  a {
    color: var(--link-color);

    &:visited {
      opacity: 0.6;
    }
  }
}
