.markdown {
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.5;
  }

  h2 {
    margin: 3.125rem 0 2.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--separator-color);
  }

  h3 {
    margin: 3.125rem 0 -1rem;
  }

  h4 {
    margin: 2.25rem 0 0;
  }

  p {
    margin: 2.25rem 0;
  }

  > ol,
  > ul {
    margin: -1.5rem 0 1rem;
  }

  details {
    + details {
      margin-top: 1rem;
    }

    > summary {
      display: inline-block;
      cursor: pointer;
      outline: none;
    }
  }

  blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px solid gray;

    > p {
      opacity: 0.7;
    }
  }

  code {
    padding: 0.05rem 0.5rem 0.1rem;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 0.85rem;
  }

  @media (prefers-color-scheme: dark) {
    code {
      border: 1px solid var(--separator-color);
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  > pre {
    margin: 2.25rem 0 !important;
    border: 1px solid var(--separator-color);
    border-radius: 4px;
    overflow: hidden;

    > pre {
      margin: 0 !important;
    }

    code {
      padding: 0;
      background: none;
      border: none;
    }
  }

  img {
    margin: 0 auto;
    max-width: 100%;
  }

  hr {
    margin: 4.5rem 0 2.5rem;
    border: 1px solid var(--separator-color);
  }

  a {
    color: var(--link-color);

    &:visited {
      opacity: 0.6;
    }
  }
}
