@import 'src/styles/mixins';

.component {
  @include NeumoBoxInset();

  margin-bottom: .5rem;
  padding: .5rem;
  border-radius: 3px;
  color: var(--gray);
  font-size: .75rem;

  +.component {
    margin-left: .5rem;
  }
}
