.main {
  margin-top: 64px;
  line-height: 1.6;

  h1,
  h2 {
    margin: 4.5rem 0 2.5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--separator-color);
  }

  h3,
  h4 {
    margin: 4rem 0 2rem;
  }

  p {
    font-weight: 300;
  }

  summary {
    cursor: pointer;
    outline: none;
  }

  blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px solid var(--gray);

    >p {
      opacity: 0.7;
    }
  }

  pre {
    border: 1px solid var(--separator-color);
    border-radius: 4px;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
  }

  hr {
    margin: 4.5rem 0 2.5rem;
    border: 1px solid var(--separator-color);
  }
}
