.main {
  margin: 4rem auto 0;
  max-width: 35rem;
  line-height: 2;

  h2 {
    margin: 3.125rem 0 2.25rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--separator-color);
  }

  h3 {
    margin: 3.125rem 0 -1rem;
  }

  h4 {
    margin: 2.25rem 0 0;
  }

  p {
    margin: 2.25rem 0;
    font-weight: 300;

    >code {
      padding: .05rem .5rem .1rem;
      border-radius: 3px;
      background-color: #2d2d2d;
      color: orange
    }

    @media (prefers-color-scheme: dark) {
      >code {
        border: 1px solid var(--separator-color)
      }
    }
  }

  ol,
  ul {
    margin: -1.5rem 0 1rem;
  }

  details {


    >summary {
      display: inline-block;
      cursor: pointer;
      outline: none;
    }
  }

  blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px solid var(--gray);

    >p {
      opacity: 0.7;
    }
  }

  >pre {
    margin: 2.25rem 0 !important;
    border: 1px solid var(--separator-color);
    border-radius: 4px;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
  }

  hr {
    margin: 4.5rem 0 2.5rem;
    border: 1px solid var(--separator-color);
  }
}
