@import '~normalize.css';
@import 'variables.css';
@import 'font.css';
@import 'prism.css';
@import 'post.css';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: var(--color);
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Noto Sans JP', sans-serif;
}

#__next {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
}


a {
  color: #FF6666;
}

a:visited {
  color: #CC7777;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
