.component {
  display: flex;
  align-items: center;

  margin: 0 auto;
  padding: 2rem 3rem;
  width: 100%;
  max-width: 1440px;
  min-height: min-content;
}

.links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  li+li {
    margin-left: 16px;
  }

  a,
  a:visited {
    color: var(--color);
    text-decoration: none;
    font-weight: bold;
  }
}

.icons {
  margin-left: auto;
}
