.component {
  h2 {
    margin: 0 0 .8rem;
    font-size: 1.325rem;
    line-height: 1.6;
  }

  time {
    display: flex;
    align-items: center;
    font-size: .8rem;
    color: var(--gray);
  }

  p {
    margin: 1rem 0;
    font-weight: 300;
    line-height: 1.6;
  }
}

.link,
.link:visited {
  display: block;
  margin: 0 auto;
  max-width: 50rem;

  color: var(--color);
  text-decoration: none;
}

.tags {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: -1rem;
}

.iconWrapper {
  margin-right: 2px;
  display: inline-block;
  width: 1em;
  height: 1em;
}
