.main {

  h1,
  h2 {
    padding-bottom: 8px;
    border-bottom: 2px solid var(--separator-color);
  }

  summary {
    cursor: pointer;
    outline: none;
  }

  blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px solid gray;

    >p {
      opacity: 0.7;
    }
  }
}
